In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {
    "Category": ["A","B","A","B","A","B","A","B"],
    "Store": ["S1","S1","S2","S2","S1","S2","S2","S1"],
    "Sales": [100,200,150,250,120,180,200,300],
    "Quantity": [10,15,12,18,8,20,20,25],
    "Date": [
        "2023-01-01","2023-01-02","2023-01-03","2023-01-04",
        "2023-01-05","2023-01-06","2023-01-07","2023-01-08"
    ]
}
df = pd.DataFrame(data)
df

  Category Store  Sales  Quantity        Date
0        A    S1    100        10  2023-01-01
1        B    S1    200        15  2023-01-02
2        A    S2    150        12  2023-01-03
3        B    S2    250        18  2023-01-04
4        A    S1    120         8  2023-01-05
5        B    S2    180        20  2023-01-06
6        A    S2    200        20  2023-01-07
7        B    S1    300        25  2023-01-08

In [8]:
cat = df.groupby('Store')['Quantity'].sum()
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [10]:
cat = df.groupby(['Category','Store'])['Sales'].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [21]:
df['Sales'].agg(['sum', 'mean', 'min', 'max', 'count', 'std', 'median'])

sum       1500.000000
mean       187.500000
min        100.000000
max        300.000000
count        8.000000
std         66.062741
median     190.000000
Name: Sales, dtype: float64