Practise Set

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Data Structure for Restaurant Sales Data
# [Resturant ID, 2021, 2022, 2023, 2024]

sales_data = np.array([
    [1,150000,180000,220000,250000],  #Paradise Biryani
    [2,120000,140000,160000,190000],  #Beijing Bites
    [3,200000,230000,260000,300000],  #Pizza Hub
    [4,180000,210000,240000,280000],  #Burger Point
    [5,160000,185000,205000,230000]   #Chai Point
])

In [ ]:
# print("Sales Data:\n", sales_data)
print("shape of sales data:", sales_data.shape)
print("Data Type of Sales Data:",sales_data.dtype)

In [ ]:
print("\n Sample data for first three restaurants : \n",sales_data[:3])

In [ ]:
print("\n Sample data for first three restaurants : \n",sales_data[:,1:])

In [ ]:
# Total sales per year 
print(np.sum(sales_data, axis=0))
yearly_total = np.sum(sales_data[:, 1:], axis=0)
print("\n Total sales per year: \n", yearly_total)
total = np.sum(yearly_total)
print("\n Total sales from all restaurants over the years: ", total)

In [ ]:
# minimum sales
min_sales = np.min(sales_data[:,1:],axis=0)
print("\n Minimum sales per year: \n", min_sales)

In [ ]:
np.minsales_data[1]

In [ ]:
# maximum sales 
max_sales = np.max(sales_data[:,1:],axis = 0)
print("\n Maximum sales per year : \n", max_sales)

In [ ]:
# average sales per restaurant per year
avg_sales = np.mean(sales_data[:,1:], axis=1)
print("\n Average sales per year: \n", avg_sales)

In [ ]:
cumaulative_sales = np.cumsum(sales_data[:,1:], axis=1)
print("\n Cumulative sales per restaurant over the years: \n", cumaulative_sales)

plt.figure(figsize=(10  , 6))
plt.plot(np.mean(cumaulative_sales, axis=0))
plt.title('Average Cumulative Sales Over the Years')
plt.xlabel('Years')
plt.ylabel('Average Sales')
plt.grid(True)
plt.show()

In [ ]:
vector1 = np.array([1,2,3,4,5])
vector2 = np.array([6,7,8,9,10])

print("Vector Addition Result:", vector1 + vector2)
print("\n Multiplication Result:", vector1 * vector2)

# print("\n Addition of two vectors:", np.add(vector1, vector2))
# print("Multiplication :",np.multiply(vector1, vector2))


dot_product = np.dot(vector1, vector2)
print("\n Dot Product of the two vectors:", dot_product)


angle = np.arccos(np.dot(vector1,vector2) / (np.linalg.norm(vector1) * np.linalg.norm(vector2)))
print("\n Angle between the two vectors in radians:", angle)

In [ ]:
restaurant_types = np.array(['Indian', 'Chinese', 'Italian', 'American', 'Indian'])

vectorized_upper = np.vectorize(str.upper)
print(vectorized_upper(restaurant_types))

In [ ]:
monthly_avg = sales_data[:,1:] / 12
monthly_avg